body {
    background: rgb(160, 156, 156);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    transform: translateX(-50%);
}

.second-clock-shape {
    --diam: 400px;
    width: var(--diam);
    height: var(--diam);
    border: rgba(255,255,255,.8) solid .7px;
    border-radius: 50%;
    position: relative;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: large;
    color: white;
    --angle: 0deg;
    transform: rotate(var(--angle));
}

.instant {
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(var(--angle));
}

.inst-shape {
    position: absolute;
    height: 10px;
    width: .9px;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 1%;
}

.sec-num60 { --angle: 0deg }
.ins1 { --angle: 6deg }
.ins2 { --angle: 12deg }
.ins3 { --angle: 18deg }
.ins4 { --angle: 24deg }
.sec-num5 { --angle: 30deg }
.ins6 { --angle: 36deg }
.ins7 { --angle: 42deg }
.ins8 { --angle: 48deg }
.ins9 { --angle: 54deg }
.sec-num10 { --angle: 60deg }
.ins11 { --angle: 66deg }
.ins12 { --angle: 72deg }
.ins13 { --angle: 78deg }
.ins14 { --angle: 84deg }
.sec-num15 { --angle: 90deg }
.ins16 { --angle: 96deg }
.ins17 { --angle: 102deg }
.ins18 { --angle: 108deg }
.ins19 { --angle: 114deg }
.sec-num20 { --angle: 120deg }
.ins21 { --angle: 126deg }
.ins22 { --angle: 132deg }
.ins23 { --angle: 138deg }
.ins24 { --angle: 144deg }
.sec-num25 { --angle: 150deg }
.ins26 { --angle: 156deg }
.ins27 { --angle: 162deg }
.ins28 { --angle: 168deg }
.ins29 { --angle: 174deg }
.sec-num30 { --angle: 180deg }
.ins31 { --angle: 186deg }
.ins32 { --angle: 192deg }
.ins33 { --angle: 198deg }
.ins34 { --angle: 204deg }
.sec-num35 { --angle: 210deg }
.ins36 { --angle: 216deg }
.ins37 { --angle: 222deg }
.ins38 { --angle: 228deg }
.ins39 { --angle: 234deg }
.sec-num40 { --angle: 240deg }
.ins41 { --angle: 246deg }
.ins42 { --angle: 252deg }
.ins43 { --angle: 258deg }
.ins44 { --angle: 264deg }
.sec-num45 { --angle: 270deg }
.ins46 { --angle: 276deg }
.ins47 { --angle: 282deg }
.ins48 { --angle: 288deg }
.ins49 { --angle: 294deg }
.sec-num50 { --angle: 300deg }
.ins51 { --angle: 306deg }
.ins52 { --angle: 312deg }
.ins53 { --angle: 318deg }
.ins54 { --angle: 324deg }
.sec-num55 { --angle: 330deg }
.ins56 { --angle: 336deg }
.ins57 { --angle: 342deg }
.ins58 { --angle: 348deg }
.ins59 { --angle: 354deg }

.hand {
    --rotation: 0;
    bottom: 50%;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
}

.second-hand {
    height: 185px;
    width: 1px;
    background-color: rgb(0, 97, 29);
    z-index: 10;
}

.minute-hand {
    height: 128px;
    width: 2px;
    background-color: rgb(22, 22, 41);
    z-index: 9;
    left: 100%;
}

.minute-hand::after {
    content: "";
    position: absolute;
    background-color: rgb(22, 22, 41);
    border-radius: 50%;
    width: 4.7px;
    height: 4.7px;
    z-index: 10;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%); 
}

.hour-hand {
    height: 138px;
    width: 2.7px;
    background-color: rgb(36, 43, 51);
    z-index: 9;
    left: 0%;
}

.hour-hand::after {
    content: "";
    position: absolute;
    background-color: rgb(36, 43, 51);
    border-radius: 50%;
    width: 4.7px;
    height: 4.7px;
    z-index: 10;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%); 
}

.minute-clock-shape::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 97, 29);
    z-index: 11;
    width: 6px;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
